In [10]:
import numpy as np
import pandas as pd
import yfinance as yf
import pandas_datareader as pdr

ModuleNotFoundError: No module named 'pandas_datareader'

In [8]:
nasdaq100 = yf.download(tickers = ["NDX", "DAX"],
                        period = "max",
                        interval = "1d")

[*********************100%***********************]  2 of 2 completed

In [9]:
nasdaq100

Price           Close                     High                      Low  \
Ticker            DAX           NDX        DAX           NDX        DAX
Date
2014-10-23  19.979094           NaN  19.994919           NaN  19.852493
2014-10-24  19.931622           NaN  19.931622           NaN  19.892058
2014-10-27  19.803440           NaN  19.803440           NaN  19.803440
2014-10-28  20.184824           NaN  20.184824           NaN  20.129437
2014-10-29  20.311422           NaN  20.311422           NaN  20.303510
...               ...           ...        ...           ...        ...
2025-03-24  40.099998  20180.439453  40.310001  20180.439453  39.880001
2025-03-25  40.490002  20287.830078  40.599998  20287.830078  40.330002
2025-03-26  39.630001  19916.990234  40.259998  19916.990234  39.479000
2025-03-27  39.650002           NaN  39.769001           NaN  39.349998
2025-03-28  39.425400           NaN  39.630001           NaN  39.221001

Price                          Open                Volume
Ticker               NDX        DAX           NDX     DAX  NDX
Date
2014-10-23           NaN  19.852493           NaN    7400  NaN
2014-10-24           NaN  19.892058           NaN   15200  NaN
2014-10-27           NaN  19.803440           NaN     300  NaN
2014-10-28           NaN  20.129437           NaN    3800  NaN
2014-10-29           NaN  20.303510           NaN   13600  NaN
...                  ...        ...           ...     ...  ...
2025-03-24  20180.439453  40.169998  20180.439453  258500  0.0
2025-03-25  20287.830078  40.509998  20287.830078  355500  0.0
2025-03-26  19916.990234  40.070000  19916.990234  304500  0.0
2025-03-27           NaN  39.389999           NaN  212000  NaN
2025-03-28           NaN  39.500000           NaN   78991  NaN

[2623 rows x 10 columns]